In [ ]:
1.##Scrape the details of most viewed videos on YouTube from Wikipedia##

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

[WDM] - Downloading: 100%|██████████| 6.30M/6.30M [00:00<00:00, 11.6MB/s]

In [3]:
driver.maximize_window()

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [5]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [7]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")       

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [11]:
print(len(Rank),len(Name),len(Date),len(Artist),len(Views))

30 30 30 30 30

In [12]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Date':Date,'Artist':Artist,'Views':Views})
df

,Rank,Name,Date,Artist,Views
0,1.,"""Baby Shark Dance""[6]","June 17, 2016",Pinkfong Baby Shark - children's songs,13.18
1,2.,"""Despacito""[9]","January 12, 2017",Luis Fonsi,8.23
2,3.,"""Johny Johny Yes Papa""[16]","October 8, 2016",LooLoo Kids - nursery rhymes,6.76
3,4.,"""Bath Song""[17]","May 2, 2018",Cocomelon - nursery rhymes,6.33
4,5.,"""Shape of You""[18]","January 30, 2017",Ed Sheeran,6.05
5,6.,"""See You Again""[21]","April 6, 2015",Wiz Khalifa,5.98
6,8.,"""Wheels on the Bus""[26]","May 24, 2018",Cocomelon - nursery rhymes,5.46
7,7.,"""Phonics Song with Two Words""[27]","March 6, 2014",ChuChu TV - children's songs,5.42
8,9.,"""Uptown Funk""[28]","November 19, 2014",Mark Ronson,4.99
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]","February 27, 2018",Miroshka TV - children's songs,4.94
10,11.,"""Gangnam Style""[30]","July 15, 2012",Psy,4.86
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]","January 31, 2012",Get Movies - children's songs,4.55
12,13.,"""Dame Tu Cosita""[36]","April 5, 2018",El Chombo,4.41
13,14.,"""Axel F""[37]","June 16, 2009",Crazy Frog,4.00
14,15.,"""Sugar""[38]","January 14, 2015",Maroon 5,3.91
15,16.,"""Roar""[39]","September 5, 2013",Katy Perry,3.84
16,17.,"""Counting Stars""[40]","May 31, 2013",OneRepublic,3.84
17,18.,"""Baa Baa Black Sheep""[41]","June 25, 2018",Cocomelon - nursery rhymes,3.73
18,19.,"""Sorry""[42]","October 22, 2015",Justin Bieber,3.69
19,20.,"""Waka Waka (This Time for Africa)""[43]","June 4, 2010",Shakira,3.68
20,21.,"""Thinking Out Loud""[44]","October 7, 2014",Ed Sheeran,3.63
21,22.,"""Lakdi Ki Kathi""[45]","June 14, 2018",Jingle Toons,3.63
22,23.,"""Dark Horse""[46]","February 20, 2014",Katy Perry,3.56
23,24.,"""Perfect""[47]","November 9, 2017",Ed Sheeran,3.51
24,25.,"""Faded""[48]","December 3, 2015",Alan Walker,3.49
25,26.,"""Let Her Go""[49]","July 25, 2012",Passenger,3.48
26,27.,"""Humpty the train on a fruits ride""[50]","January 26, 2018",Kiddiestv Hindi - children's songs,3.51
27,28.,"""Girls Like You""[51]","May 31, 2018",Maroon 5,3.45
28,29.,"""Bailando""[52]","April 11, 2014",Enrique Iglesias,3.43
29,30.,"""Lean On""[53]","March 22, 2015",Major Lazer,3.43

In [ ]:
2.##Scrape the details team India’s international fixtures from bcci.tv.##

In [441]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [442]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

[WDM] - Downloading: 100%|██████████| 6.30M/6.30M [00:00<00:00, 13.9MB/s]

In [443]:
driver.maximize_window()

In [446]:
url = "https://www.bcci.tv/"
driver.get(url)

In [448]:
View_All=driver.find_element(By.XPATH,"//a[@class='moreMatchesLink']")
View_All.click()

In [449]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [450]:
for i in range (0,4):
    morefix=driver.find_element(By.XPATH,"//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
    morefix.click()

In [451]:
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']"):
        Match_Title.append(i.text.split(' ')[1])
except NoSuchElementException:
    Match_title.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-card-middle d-flex']"):
        Series.append(i.text.replace('\n',' '))
except NoSuchElementException:
    Series.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']"):
        Place.append(i.text.split(' ')[3:])
except NoSuchElementException:
    Place.append("-")
        
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']"):
        Time.append(i.text)
except NoSuchElementException:
    Time.append("-")

In [452]:
print(len(Match_Title),len(Series),len(Place),len(Date),len(Time))

38 38 38 38 38

In [453]:
df=pd.DataFrame({'Match Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match Title,Series,Place,Date,Time
0,T20I,Ireland vs India,"[The, Village,, Dublin]",18 AUG 2023,7:30 PM IST
1,T20I,Ireland vs India,"[The, Village,, Dublin]",20 AUG 2023,7:30 PM IST
2,T20I,Ireland vs India,"[The, Village,, Dublin]",23 AUG 2023,7:30 PM IST
3,ODI,India vs Pakistan,"[Pallekele, International, Cricket, Stadium,, ...",2 SEP 2023,10:00 AM IST
4,ODI,India vs Nepal,"[Pallekele, International, Cricket, Stadium,, ...",4 SEP 2023,10:00 AM IST
5,ODI,India vs Australia,"[Punjab, Cricket, Association, IS, Bindra, Sta...",22 SEP 2023,1:30 PM IST
6,ODI,India vs Australia,"[Holkar, Cricket, Stadium,, Indore]",24 SEP 2023,1:30 PM IST
7,ODI,India vs Australia,"[Saurashtra, Cricket, Association, Stadium,, R...",27 SEP 2023,1:30 PM IST
8,ODI,India vs Australia,"[MA, Chidambaram, Stadium,, Chennai]",8 OCT 2023,2:00 PM IST
9,ODI,India vs Afghanistan,"[Arun, Jaitley, Stadium,, Delhi]",11 OCT 2023,2:00 PM IST
10,ODI,India vs Pakistan,"[Narendra, Modi, Stadium,, Ahmedabad]",14 OCT 2023,2:00 PM IST
11,ODI,India vs Bangladesh,"[Maharashtra, Cricket, Association, Stadium,, ...",19 OCT 2023,2:00 PM IST
12,ODI,India vs New Zealand,"[Himachal, Pradesh, Cricket, Association, Stad...",22 OCT 2023,2:00 PM IST
13,ODI,India vs England,"[Bharat, Ratna, Shri, Atal, Bihari, Vajpayee, ...",29 OCT 2023,2:00 PM IST
14,ODI,India vs Sri Lanka,"[Wankhede, Stadium,, Mumbai]",2 NOV 2023,2:00 PM IST
15,ODI,India vs South Africa,"[Eden, Gardens,, Kolkata]",5 NOV 2023,2:00 PM IST
16,ODI,India vs Netherlands,"[M, Chinnaswamy, Stadium,, Bengaluru]",12 NOV 2023,2:00 PM IST
17,T20I,India vs Australia,"[Dr, YS, Rajasekhara, Reddy, ACA-VDCA, Cricket...",23 NOV 2023,7:00 PM IST
18,T20I,India vs Australia,"[Greenfield, International, Stadium,, Thiruvan...",26 NOV 2023,7:00 PM IST
19,T20I,India vs Australia,"[Barsapara, Cricket, Stadium,, Guwahati]",28 NOV 2023,7:00 PM IST
20,T20I,India vs Australia,"[Vidarbha, Cricket, Association, Stadium,, Nag...",1 DEC 2023,7:00 PM IST
21,T20I,India vs Australia,"[Rajiv, Gandhi, International, Stadium,, Hyder...",3 DEC 2023,7:00 PM IST
22,T20I,South Africa vs India,"[Kingsmead,, Durban]",10 DEC 2023,9:30 PM IST
23,T20I,South Africa vs India,"[St, George's, Park,, Gqeberha]",12 DEC 2023,9:30 PM IST
24,T20I,South Africa vs India,"[The, Wanderers, Stadium,, Johannesburg]",14 DEC 2023,9:30 PM IST
25,ODI,South Africa vs India,[Johannesburg],17 DEC 2023,2:00 PM IST
26,ODI,South Africa vs India,"[St, George's, Park,, Gqeberha]",19 DEC 2023,2:00 PM IST
27,ODI,South Africa vs India,"[Boland, Park,, Paarl]",21 DEC 2023,2:00 PM IST
28,Test,South Africa vs India,"[SuperSport, Park,, Centurion]",26 DEC 2023,1:30 PM IST
29,Test,South Africa vs India,"[Newlands,, Cape, Town]",3 JAN 2024,1:30 PM IST
30,T20I,India vs Afghanistan,"[Punjab, Cricket, Association, IS, Bindra, Sta...",11 JAN 2024,7:00 PM IST
31,T20I,India vs Afghanistan,"[Holkar, Cricket, Stadium,, Indore]",14 JAN 2024,7:00 PM IST
32,T20I,India vs Afghanistan,"[M, Chinnaswamy, Stadium,, Bengaluru]",17 JAN 2024,7:00 PM IST
33,Test,India vs England,"[Rajiv, Gandhi, International, Stadium,, Hyder...",25 JAN 2024,9:30 AM IST
34,Test,India vs England,"[Dr, YS, Rajasekhara, Reddy, ACA-VDCA, Cricket...",2 FEB 2024,9:30 AM IST
35,Test,India vs England,"[Saurashtra, Cricket, Association, Stadium,, R...",15 FEB 2024,9:30 AM IST
36,Test,India vs England,"[JSCA, International, Stadium, Complex,, Ranchi]",23 FEB 2024,9:30 AM IST
37,Test,India vs England,"[Himachal, Pradesh, Cricket, Association, Stad...",7 MAR 2024,9:30 AM IST

In [ ]:
3.##Scrape the details of State-wise GDP of India from statisticstime.com.##

In [402]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [403]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [404]:
driver.maximize_window()

In [405]:
url = "http://statisticstimes.com/"
driver.get(url)

In [406]:
Economy=driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
Economy.click()

In [407]:
India=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
India.click()

In [408]:
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [251]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [252]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [253]:
print(len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP_billion))

66 66 66 66 66 66

In [255]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)- at current prices':GSDP1,'GSDP(19-20)- at current prices':GSDP2,'Share(18-19)':Share,'GDP($ billion)':GDP_billion})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"25,141","28,391",0.15%,"17,060"
62,30,Nagaland,"24,534",-,0.15%,-
63,31,Arunachal Pradesh,"22,488",-,0.13%,-
64,32,Mizoram,"20,947","24,424",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
4.##Scrape the details of trending repositories on Github.com.##

In [350]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [351]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [352]:
driver.maximize_window()

In [353]:
url = "https://github.com/"
driver.get(url)

In [354]:
Source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
Source.click()

In [355]:
Trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
Trending.click()

In [356]:
URL=[]
url=driver.find_elements(By.XPATH,"//a[@class='Link']")
for i in url:
    URL.append(i.get_attribute("href"))

In [357]:
Repository_title = []
Repository_description  = []
Contributors_count  = []
Language_used = []
LG=[]

In [358]:
title = driver.find_elements(By.XPATH,"//a[@class ='Link']")
for i in title:
    Repository_title.append(i.text)
Repository_title   

for i in URL:
    driver.get(i)
   
    try:
        description= driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Repository_description.append(description.text)
    except NoSuchElementException:
        Repository_description.append('-')
    
    try:
        contributor=driver.find_element(By.XPATH,"//*[contains(text(),'Contributors')]")
        Contributors_count.append(contributor.text.replace('Contributors','').replace('\n',''))
    except NoSuchElementException:
        Contributors_count.append('-')
    
    try:
        for i in driver.find_elements(By.XPATH,"//span[@class='color-fg-default text-bold mr-1']"):
            LG.append(i.text.replace('\n',' '))
        Language_used.append(LG)
    except NoSuchElementException:
        Language_used.append('-')

In [359]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 25

In [360]:
df=pd.DataFrame({'Repository Title':Repository_title,'Repository Description':Repository_description,'Contributors Count':Contributors_count,'Language Used':Language_used})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,joonspk-research / generative_agents,Generative Agents: Interactive Simulacra of Hu...,5,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
1,modelscope / facechain,FaceChain is a deep-learning toolchain for gen...,4,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
2,phoboslab / wipeout-rewrite,-,4,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
3,clockworklabs / SpacetimeDB,Multiplayer at the speed of light,13,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
4,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,"1,169","[Python, Shell, C, Other, Rust, Shell, Other, ..."
5,id-Software / quake2-rerelease-dll,-,-,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
6,huggingface / candle,Minimalist ML framework for Rust,11,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
7,TheAlgorithms / Python,All Algorithms implemented in Python,985,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
8,bitcoin / bitcoin,Bitcoin Core integration/staging tree,916,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
9,Plachtaa / VITS-fast-fine-tuning,This repo is a pipeline of VITS finetuning for...,16,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
10,graphdeco-inria / gaussian-splatting,"Original reference implementation of ""3D Gauss...",8,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
11,FlowiseAI / Flowise,Drag & drop UI to build your customized LLM flow,33,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
12,binhnguyennus / awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...",21,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
13,PeiQi0 / PeiQi-WIKI-Book,面向网络安全从业者的知识文库🍃,2,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
14,DeBankDeFi / DeBankChain,-,5,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
15,taikoxyz / taiko-mono,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁",,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
16,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",13,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
17,homanp / superagent,"🥷 Superagent - Build, deploy, and manage LLM-p...",22,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
18,PaperMC / Folia,Fork of Paper which adds regionised multithrea...,19,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
19,ytdl-org / youtube-dl,Command-line program to download videos from Y...,792,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
20,YBIFoundation / Fundamental,Jupyter Notebook,-,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
21,libsdl-org / SDL,Simple Directmedia Layer,427,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
22,Infisical / infisical,"♾ Infisical is an open-source, end-to-end encr...",87,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
23,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,465,"[Python, Shell, C, Other, Rust, Shell, Other, ..."
24,MustardChef / WSABuilds,Run Windows Subsystem For Android on your Wind...,29,"[Python, Shell, C, Other, Rust, Shell, Other, ..."

In [ ]:
5.##Scrape the details of top 100 songs on billiboard.com##

In [390]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [391]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [392]:
driver.maximize_window()

In [393]:
url = "https://www.billboard.com/"
driver.get(url)

In [396]:
charts=driver.find_element(By.XPATH,"//div[@class='lrv-a-crop-1x1']")
charts.click()

In [397]:
Song_name=[] 
Artist_name=[] 
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [398]:
try:
    names=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//h3')[::4]
    for i in names:
        Song_name.append(i.text)
except NoSuchElementException:       
    Song_name.append('-')
    
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span')[::7]
    for i in artist:
        Artist_name.append(i.text)
except NoSuchElementException:     
    Artist_name.append('-')
    
try:
    last_week=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')[::2]
    for i in last_week:
        Last_week_rank.append(i.text)
except NoSuchElementException:      
    Last_week_rank.append('-')
    
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')[1::2]
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:       
    Peak_rank.append('-')
    
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')[1::2]
    for i in weeks:
        Weeks_on_board.append(i.text)
except NoSuchElementException:      
    Weeks_on_board.append('-')

In [399]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [401]:
df=pd.DataFrame({'Song Name':Song_name,'Artist Name':Artist_name,'Last Week Rank':Last_week_rank,'Peak Rank':Peak_rank,'Weeks On Board':Weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

In [ ]:
6.##Scrape the details of Highest selling novels.##

In [330]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [331]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [332]:
driver.maximize_window()

In [333]:
url ="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [334]:
Name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [335]:
try:
    for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("-")

try:
    for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("-")

In [336]:
print(len(Name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [337]:
df=pd.DataFrame({'Name':Name,'Author Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
7.##Scrape the details most watched tv series of all time from imdb.com##

In [361]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [362]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [363]:
driver.maximize_window()

In [364]:
url ="http://www.imdb.com/list/ls095964455/"
driver.get(url)

In [365]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [346]:
try:
    for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("-")   
    
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
        Votes.append(i.text) 
except NoSuchElementException:
    Votes.append("-")

In [348]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [349]:
df=pd.DataFrame({'Name':Name,'Year Span':Year_span,'Genre':Genre,'Run Time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,191,669"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,265,694"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,403"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,770"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,867"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,394"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,416"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"209,962"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,654"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,370"

In [ ]:
8.##Details of Datasets from UCI machine learning repositories##

In [493]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [494]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [495]:
driver.maximize_window()

In [496]:
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [497]:
view_dataset=driver.find_element(By.XPATH,"//a[@class='btn-primary btn']")
view_dataset.click()

In [501]:
URL=[]
url=driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
for i in url:
    URL.append(i.get_attribute("href"))

In [502]:
print(len(URL))

10

In [503]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [504]:
for i in URL:
    driver.get(i)
    
    try:
        dataset_name = driver.find_element(By.XPATH,"//h1[@class='text-3xl font-semibold text-primary-content']")
        Dataset_Name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_Name.append('-')

    try:
        Data_type = driver.find_element(By.XPATH,"//p[@class='text-md']")
        Data_Type.append(Data_type.text)
    except NoSuchElementException:
        Data_Type.append('-')

    try:
        task= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p")
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    try:
        attribute_type=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p")
        Attribute_Type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_Type.append("-")
    
    try:
        no_of_instances= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p")
        No_of_instances.append(no_of_instances.text)
    except NoSuchElementException:
         No_of_instances.append('-')
    
    try:
        no_of_attribute= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p")
        No_of_attribute.append(no_of_attribute.text)
    except NoSuchElementException:
        No_of_attribute.append('-')
    
    try:
        year= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2")
        Year.append(year.text.split(' ')[2])
    except NoSuchElementException:
        Year.append('-')

In [505]:
print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len( No_of_instances),len(No_of_attribute),len(Year))

10 10 10 10 10 10 10

In [506]:
df=pd.DataFrame({'Dataset Name':Dataset_Name,'Data Type':Data_Type,'Task':Task,'Attribute Type':Attribute_Type,'No of Instances':No_of_instances,'No of Attribute':No_of_attribute,'Year':Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Wine,Multivariate,Classification,"Integer, Real",178,13,6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,10/5/2019
8,Car Evaluation,Multivariate,Classification,Categorical,1728,6,5/31/1997
9,Mushroom,Multivariate,Classification,Categorical,8124,22,4/26/1987